section#second_screen
	img.ribbon(src="img/ribbon.png", alt="Упаковочная лента")
	.conainer
		#letter
			img#bells(src="img/bells.jpg", alt="Колокольчики")
			p.red Приближается самый волшебный, магический и всеми любимый Новый Год. В это время все вокруг наполняется чудом обновления и трансформации. И каждый мечтает о том, чтобы следующий год стал самым судьбоносным и принес с собою Счастье, Успех и Изобилие
			img#green_snow(src="img/green_snowy.jpg", alt="Снежинка")
			p И, в связи с приближением этого праздника, мы объявляем ГРАНДИОЗНУЮ НОВОГОДНЮЮ РАСПРОДАЖУ! Теперь вы можете приобрести тренинги своих любимых Учителей по привлекательной цене и использовать эти знания себе во благо, улучшая качество жизни
			img#big_tree(src="img/big_tree.png", alt="Ветка ёлочки")