section#special
    img.ribbon(src="img/ribbon.png")
    .container
        h3 Специальные предложения
        img.diveder(src="img/white_divider.png", alt="Разделитель")
        .spec_ball.first
            p Для тех, кто хочет иметь 
                br
                |   в своем арсенале несколько инструментов трансформации, 
                br
                |   мы предусмотрели отдельную возможность:
            a.button(href="") Купить
        .spec_ball.last
            p Для желающих начать 
                br
                | кардинально менять минусы 
                br
                | в своей жизни на плюсы, имеется особый пакет по очень привлекательной цене:
            a.button(href="") Купить
        .clearfix
        a.button.button_partner(href="#") Партнерская программа
        img#spec_logo(src="img/spec_logo.png", alt="Логотип")
    img#snow_line(src="img/snow_line.png", alt="Снег")