section#special
    img.ribbon(src="img/ribbon.png", alt="Упаковочная лента")
    .container
        h3 Специальные предложения
        img.divider(src="img/white_divider.png", alt="Разделитель")
        .spec_ball.first
            p Для тех, кто хочет иметь 
                br
                |   в своем арсенале несколько инструментов трансформации, 
                br
                |   мы предусмотрели отдельную возможность:
            a.button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1485&clean=true&lg=ru " target="_blank") Купить
        .spec_ball.last
            p Для желающих начать 
                br
                | кардинально менять минусы 
                br
                | в своей жизни на плюсы, имеется особый пакет по очень привлекательной цене:
            a.button(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=1486&clean=true&lg=ru" target="_blank") Купить
        .clearfix
        //- a.button.button_partner(href="javascript:void(0);" target="_blank") Партнерская программа
        img#spec_logo(src="img/spec_logo.png", alt="Логотип")
    img#snow_line(src="img/snow_line.png", alt="Снег")