@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansBold.woff2') format('woff2'),
		 url('../fonts/OpenSansBold.woff') format('woff'),
		 url('../fonts/OpenSansBold.ttf') format('truetype'),
		 url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
	font-family: 'RobotoSlabRegular';
	src: url('../fonts/RobotoSlabRegular.eot');
	src: url('../fonts/RobotoSlabRegular.eot') format('embedded-opentype'),
		 url('../fonts/RobotoSlabRegular.woff2') format('woff2'),
		 url('../fonts/RobotoSlabRegular.woff') format('woff'),
		 url('../fonts/RobotoSlabRegular.ttf') format('truetype'),
		 url('../fonts/RobotoSlabRegular.svg#RobotoSlabRegular') format('svg');
}

@font-face {
	font-family: 'RobotoSlabBold';
	src: url('../fonts/RobotoSlabBold.eot');
	src: url('../fonts/RobotoSlabBold.eot') format('embedded-opentype'),
		 url('../fonts/RobotoSlabBold.woff2') format('woff2'),
		 url('../fonts/RobotoSlabBold.woff') format('woff'),
		 url('../fonts/RobotoSlabBold.ttf') format('truetype'),
		 url('../fonts/RobotoSlabBold.svg#RobotoSlabBold') format('svg');
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed.eot');
	src: url('../fonts/RobotoCondensed.eot') format('embedded-opentype'),
		 url('../fonts/RobotoCondensed.woff2') format('woff2'),
		 url('../fonts/RobotoCondensed.woff') format('woff'),
		 url('../fonts/RobotoCondensed.ttf') format('truetype'),
		 url('../fonts/RobotoCondensed.svg#RobotoCondensed') format('svg');
}

@font-face {
	font-family: 'RobotoBoldCondensed';
	src: url('../fonts/RobotoBoldCondensed.eot');
	src: url('../fonts/RobotoBoldCondensed.eot') format('embedded-opentype'),
		 url('../fonts/RobotoBoldCondensed.woff2') format('woff2'),
		 url('../fonts/RobotoBoldCondensed.woff') format('woff'),
		 url('../fonts/RobotoBoldCondensed.ttf') format('truetype'),
		 url('../fonts/RobotoBoldCondensed.svg#RobotoBoldCondensed') format('svg');
}

h2
	font-size: 29px;
	font-family: "RobotoBoldCondensed", sans-serif;
	color: #fff
	text-transform: uppercase;
	line-height: 0.822;
	text-align: center;
	text-shadow: 2.5px 4.33px 10px rgba(0, 0, 0, 0.75);
	-moz-transform: matrix( 1.16467062056079,0,0,1.16393442622951,0,0);
	-webkit-transform: matrix( 1.16467062056079,0,0,1.16393442622951,0,0);
	-ms-transform: matrix( 1.16467062056079,0,0,1.16393442622951,0,0);

h3
	font-size: 40px;
	font-family: "RobotoSlabBold", sans-serif;
	color: rgb(58, 57, 57);
	font-weight: bold;
	line-height: 0.6;
	text-align: center;
	margin: 190px 0 10px
a
	text-decoration: none
	outline: 0;
	&:hover
	&:focus
		color #ffffff
		outline: 0
		text-decoration: none
.ribbon
	display: block;
	width: 100%;
	position: absolute;
	top: -55px;
	left: 0;
	right: 0;
.divider
	display block
	margin: 20px auto 0
.button
	display block
	font-size: 20px;
	font-family: "RobotoSlabBold", sans-serif;
	color: #fefefd
	text-align: center;
	border 1px solid #3b8d3a
	border-radius: 5px;
	background-image: linear-gradient(to top, #164216 0%, #47aa46 100%);
	box-shadow: 0 0 6% 7px rgba(#ffffbe, .35) inset
	margin: 30px auto
	&:hover
		background-image: linear-gradient(to bottom, #164216 0%, #47aa46 100%);


@import 'parts/first_screen'
@import 'parts/second_screen'
@import 'parts/offers'
@import 'parts/spec'
@import 'parts/footer'

@keyframes rock
	0%
		transform: rotate(10deg);
		transform-origin: 70px 0;
	50%
		transform: rotate(-10deg);
		transform-origin: 70px 0;
	100%
		transform: rotate(10deg);
		transform-origin: 70px 0;