.Paragraph-Style
{
	font-family: open-sans-n4, sans-serif;
}

.Podzagolovok,.Zagolovok-dnya
{
	font-family: open-sans-n7, sans-serif;
}

#u1790-4,#u1791-4
{
	font-family: open-sans-n4, sans-serif;
}

#u103-8,#u1904-5,#u1904-9,#u1904-12,#u1904-15,#u1904-18,#u1904-21,#u1904-24,#u1904-27,#u1904-34,#u1904-38,#u1373-38,#u1392-34,#u343-31,#u333-4,#u336-4,#u338-4,#u335-4,#u337-6,#u1455-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1455-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1455-4.AccordionPanelTabOpen p,#u1455-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1463-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1463-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1463-4.AccordionPanelTabOpen p,#u1463-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1469-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1469-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1469-4.AccordionPanelTabOpen p,#u1469-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1472-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1472-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1472-4.AccordionPanelTabOpen p,#u1472-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1474-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1474-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1474-4.AccordionPanelTabOpen p,#u1474-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1480-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1480-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1480-4.AccordionPanelTabOpen p,#u1480-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1482-4:hover p
{
	font-family: open-sans-n4, sans-serif;
}

#u1482-4:active p
{
	font-family: open-sans-n4, sans-serif;
}

#u1482-4.AccordionPanelTabOpen p,#u1482-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1946-4,#u283-3,#u283-5,#u283-7,#u283-9,#u283-11,#u283-13,#u283-15,#u283-17,#u302-7,#u302-9,#u302-11,#u302-13,#u302-15,#u302-17,#u302-19,#u186-4
{
	font-family: open-sans-n4, sans-serif;
}

#u201-4
{
	font-family: open-sans-n4, sans-serif;
}

#u203-4
{
	font-family: open-sans-n4, sans-serif;
}

#u202-4
{
	font-family: open-sans-n4, sans-serif;
}

#u207-4
{
	font-family: open-sans-n4, sans-serif;
}

#u206-4
{
	font-family: open-sans-n4, sans-serif;
}

#u205-4
{
	font-family: open-sans-n4, sans-serif;
}

#u204-4
{
	font-family: open-sans-n4, sans-serif;
}

#u214-4
{
	font-family: open-sans-n4, sans-serif;
}

#u213-4
{
	font-family: open-sans-n4, sans-serif;
}

#u215-4
{
	font-family: open-sans-n4, sans-serif;
}

#u212-4
{
	font-family: open-sans-n4, sans-serif;
}

#u211-4
{
	font-family: open-sans-n4, sans-serif;
}

#u210-4
{
	font-family: open-sans-n4, sans-serif;
}

#u209-4
{
	font-family: open-sans-n4, sans-serif;
}

#u208-4
{
	font-family: open-sans-n4, sans-serif;
}

#u217-4
{
	font-family: open-sans-n4, sans-serif;
}

#u216-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1911,#u973-4,#u1804-4,#u1819-4,#u976-4,#u1048,#u1922
{
	font-family: ubuntu-n7, sans-serif;
}

#u500-6,#u485-4,#u488-6,#u512-6,#u524-6,#u492-6,#u532-6,#u1149-6,#u1820-6,#u1825-3,#u1829-6,#u980-4,#u983-6,#u1217-6,#u1019-6,#u1265-6,#u1250-6,#u1047-4,#u1050-6,#u1086-6,#u1911-5,#u1912-3,#u1806-4,#u1814-4,#u417-4,#u418-4,#u419-4,#u420-4,#u437-6,#u1190-6,#u1194-6,#u1198-6,#u441-6,#u445-6,#u449-6,#u453-6,#u457-6,#u1246-6,#u461-6,#u465-6,#u484-4,#u486-4,#u487-4,#u1242-6,#u504-6,#u508-6,#u1206-6,#u516-6,#u520-6,#u528-6,#u979-4,#u981-4,#u982-4,#u987-6,#u1238-6,#u991-6,#u1224-6,#u995-6,#u1003-6,#u1015-6,#u1023-6,#u1027-6,#u1046-4,#u1048-5,#u1049-4,#u1054-3,#u1228-6,#u1058-3,#u1258-6,#u1062-6,#u1082-6,#u1090-6,#u1094-6,#u1113-4,#u1137-6,#u1592-4,#u1595-6,#u1619-3,#u1631-6,#u1810-4,#u1824-4,#u1913-3,#u1914-6,#u1922-5,#u1923-3,#u1924-3,#u1925-6
{
	font-family: ubuntu-n4, sans-serif;
}

#u101-6,#u1904-2,#u1904-4,#u1904-7,#u1904-39 > #u1904-12:before,#u1904-10,#u1904-14,#u1904-39 > #u1904-18:before,#u1904-16,#u1904-39 > #u1904-21:before,#u1904-19,#u1904-39 > #u1904-24:before,#u1904-22,#u1904-39 > #u1904-27:before,#u1904-25,#u1904-29,#u1904-31,#u1904-39 > #u1904-34:before,#u1904-32,#u1904-36,#u313-4,#u342-4,#u343,#u343-7,#u343-13,#u343-19,#u343-25,#u332-4,#u1492-4,#u315-4,#u1183-4,#u1875-4,#u299-26,#u300-4,#u302-2,#u1855-2,#u1768-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1855-4,#u1855-6,#u1855-8,#u1855-10,#u1855-12,#u1855-14,#u1855-16,#u362-13,#u369-26,#u1784-4,#u1785-4,#u1786-4,#u1787-4,#u1788-4
{
	font-family: open-sans-n4, sans-serif;
}

