
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */