#second_screen
	position relative
	background-image: url(../img/second_screen_bg.jpg)
	background-position: center 
	background-repeat no-repeat
	background-size: cover
	width: 100%
	padding: 178px 0
#letter
	width: 944px
	height: 866px
	margin: 0 auto
	background-image: url(../img/letter.png)
	background-position: right top
	background-repeat no-repeat
	background-size: cover
	position relative
	padding-top: 71px
	p
		font-size: 18px
		margin: 0 auto 25px
		text-align: center
		line-height: 24px
		color: #575656
		font-family: 'RobotoSlabBold', sans-serif
		max-width: 756px
	.red
		color: #c22e20
		font-family: 'RobotoSlabRegular', sans-serif
#bells
#green_snow
	display: block
	margin:  0 auto 25px

#big_tree
	position absolute
	bottom: 100px
	right: -50px